*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

/* Root Variables */
:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* Making Links generic */
a{
    text-decoration: none;
    color: inherit;
}


.g-btn{
    padding: .7rem 1.5rem;
    background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
    border-radius: 1.5rem;
    color: var(--white);
    font-weight: 400;
    cursor: pointer;
    width: fit-content;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 100%;
}

.nav{
    min-height: 75px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    z-index: 10;
    background: var(--white);
}

.scroll-header{
    box-shadow: 0 2px 15px hsla(0, 0%, 0%, 0.2);
}

.nav-cta{
    display: none;
}

.navList.active{
    display: flex;
}
.navList{
    list-style: none;
    position: absolute;
    background: var(--white);
    width: 340px;
    padding: 1.5rem 0;
    gap: 1rem;
    left: 50%;
    top: 130%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 200px;
    box-shadow: 2px 2px 35px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: .5rem;
    font-size: 18px;
}

.nav-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-toggle .open{
    display: inline-block;
}
.nav-toggle .close{
    display: none;
}
.navList.active ~ .nav-toggle .close{
    display: inline-block;
}
.navList.active ~ .nav-toggle .open{
    display: none;
}


/* Home Section */
.home--section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-section{
    background: url('./images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
}
.image-section img{
    width: 95%;
    transform: translateY(-15%);
}

.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: 2em;
}

.mainText{
    font-size: 36px;
    font-weight: 600;
    color: var(--dark-blue);
    line-height: 2.5rem;
}
.subText{
    width: 90%;
    text-align: center;
    font-size: 16px;
    color: var(--grayish-blue);
    margin-bottom: 1rem;
}

.home-btn{
    margin-bottom: 2rem;
}



.section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    padding: 80px 1rem;
}

/* About Section */
.about--section{
    background: var(--light-grayish-blue);
}

.section-title{
    font-size: 36px;
    color: var(--dark-blue);
    text-align: center;
}
.section-description{
    font-size: 16px;
    text-align: center;
    color: var(--grayish-blue);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1rem;
    width: 100%;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 0;
}

.card-title{
    font-size: 24px;
    color: var(--dark-blue);
}
.card-description{
    font-size: 16px;
    text-align: center;
    color: var(--grayish-blue);
}

.card-image{
    min-height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Article section */
.article--section{
    overflow: hidden;
    background: var(--very-light-gray);
}

.article-card{
    overflow: hidden;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background: var(--white);
}
.article-image{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.article-image img{
    width: 100%;
}
.card-text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.author-name{
    font-size: 13px;
    color: var(--grayish-blue);
}
.article-title{
    font-size: 20px;
    color: var(--dark-blue);
    font-weight: 500;
}
.article-description{
    font-size: 16px;
    color: var(--grayish-blue);
    text-align: justify;
}



/* Footer Section */
.footer--section{
    background: var(--dark-blue);
    padding: 3.5rem 0;
    gap: 2rem;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-logo img{
    width: 180px;
}
.footer-splits{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.social img{
    width: 30px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 1rem;
    color: var(--white);
}

.copyright{
    color: var(--grayish-blue);
    font-size: 14px;
}

@media screen and (min-width: 1000px) {
    .nav{
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 5.5rem;
        position: relative;
    }
    .mainText{
        font-size: 46px;
        line-height: 3rem;
    }
    .navList{
        display: flex;
        align-items: center;
        flex-direction: row;
        position: inherit;
        padding: 0;
        min-height: fit-content;
        width: fit-content;
        box-shadow: none;
        background: none;
        transform: none;
        left: auto;
        top: auto;
        font-size: 16px;
    }

    .nav-toggle{
        display: none;
    }

    .nav-cta{
        display: inline-block;
        font-size: 14px;
    }

    .home--section{
        flex-direction: row-reverse;
        align-items: center;
        max-height: 85vh;
        overflow: visible;
    }
    .image-section{
        background: url('./images/bg-intro-desktop.svg');
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .image-section img{
        width: 100%;
        transform: translate(15%, -5%);
    }
    .text-section{
        align-items: flex-start;
        padding-left: 5.5rem;
    }
    .subText{
        text-align: left;
    }
    .section{
        padding: 2.5rem 5.5rem;
        align-items: flex-start;
    }

    .section-title{
        width: 100%;
        text-align: left;
    }
    .section-description{
        text-align: left;
    }

    .card{
        align-items: flex-start;
    }
    .card-description{
        text-align: left;
    }

    .article-image{
        height: 40%;
        overflow: hidden;
    }
    .article-image img{
        transform: scale(1.5);
    }

    .footer--section{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 3.5rem 0;
    }

    .footer-links{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 30%;
    }

    .footer-links ul{
        align-items: flex-start;
    }
}